<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.usuario.app.myroodent">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/icono_app"

        android:largeHeap="true"
        android:roundIcon="@mipmap/icon_app_multiresource"
        android:supportsRtl="true"
        android:theme="@style/GreenTheme">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:theme="@style/GreenTheme" />
        <activity
            android:name=".RegistradoActivity"
            />
        <activity
            android:name=".CompleteActivity"
            />
        <activity
            android:name=".RegistrosActivity"
            />
        <activity
            android:name=".EspeciesActivity"
            />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>